@import url('https://necolas.github.io/normalize.css/3.0.2/normalize.css');

/*General*/
body {
  background: #fff;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
  font: Helvetica Neue, Helvectica, Arial, serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5em;
  color: #384047;
}

h1, h2, h3 {
  font-weight: 500;
}

h1 {
  font-size: 1.8em;
  margin: 1em 0 1em;
}

h2 {
    font-size: 1em;
    font-weight: 300;
    margin: 0;
    padding: 0.75em 0;
}
p {
	color: #8d9aa5;
	margin-bottom: .75em;
}

#quiz {
	display: none;
}

.container {
	text-align: center;
}
button {
  color: #8d9aa5;
}
#question {
	font-size: 1.5em;
}
#choice0,
#choice1,
#choice2 {
	color: deepskyblue;
	font-size: 2em;
}
footer {
	margin-top: 1.5em;
}
